/* ------ INITIAL STYLING ------ */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--back);
}

/* Color Variables */

:root {
    /* --purple: #dedbfd; */
    --purple: #d5d3ee;
    /* --purple: #6e64c5; */
    --back: white;
    --main: #1C1C1C;
    --secondary: #333333;

    --dark_purple: #3F37A2; 
    --dark_back: #101010;
    --dark_main: #E6E6E6;
    --dark_secondary: #BEBEBE;
}

/* ----- SVG ICONS ------ */
/* icons font */
@font-face {
    font-family: 'mglogos';
    src: url('svgicons/mglogos.eot');
    src: url('svgicons/mglogos.eot?#iefix') format('embedded-opentype'),
         url('svgicons/mglogos.woff') format('woff'),
         url('svgicons/mglogos.ttf') format('truetype'),
         url('svgicons/mglogos.svg#mglogos') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
   font-family: 'mglogos';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-arrow:before{content:'\0041';}
.icon-mglogo:before{content:'\0042';}
.icon-search:before{content:'\0043';}

/* Images */

img {
    width: 100%;
    height: auto;
}

/* ----- HEADINGS ----- */
/* nav */
.mgmenu {
    font-family: "Andale Mono"; 
    font-size: 1.25rem; /* 20px */ 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    color: var(--main);
    text-transform: lowercase;
}
/* mg logo text */
.icon-mglogo a {
    font-family: "Andale Mono"; 
    font-size: 1.875rem; /* 30px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    color: var(--main);
    text-transform: uppercase;
}
/* mg logo icon styling */
.icon-mglogo {
    font-size: 5rem;
    color: var(--purple);
    z-index: 0;
    text-transform: uppercase;
}
/* search styling */
.icon-search {
    text-transform: uppercase;
}
/* links */
a {
    text-decoration: none;
    color: var(--main);
}
/* list */
.mgmenu li {
    list-style: none;
}

/* ------ HEADER ----- */
header {
  padding-bottom: 5rem;
  width: 100%;
  height: auto;
  max-width: 1800px;
  margin: 0 auto;
}
.mgmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 1rem;
    max-width: 1800px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.icon-mglogo {
    padding-right: 20rem;
}
#menu-item-18, #menu-item-19, #menu-item-20, #menu-item-225 {
  visibility: hidden;
  z-index: 5;
}
#menu-item-17 {
    display: flex;
    visibility: visible;
}
.icon-mglogo a{
    margin-left: -1rem;
    align-self: center;
    padding-top: 1rem;
    margin-top: -.25rem;
}
.back-color {
  width: 100vw;
  height: 4.5rem;
  z-index: 1;
  top: 0;
  right: 0;
  position: fixed;
  background-color: var(--back);
}
#drop-back {
  width: 35%;
  visibility: hidden;
}

/* ACTIVE MENU STATE */
@media screen and (max-width: 515px) {
  .current-menu-item {
    border-bottom: 5px solid var(--purple);
  }
  .current-menu-item a {
    border-top: 12px solid var(--purple);
  }
  #menu-item-17 {
    border-bottom: none;
  }
  #menu-item-18 a,  #menu-item-19 a,  #menu-item-20 a,  #menu-item-225 a {
    border-top: none;
  }
}

.current-menu-item a {
  border-top: 12px solid var(--purple);
}
#menu-item-18 a,  #menu-item-19 a,  #menu-item-20 a,  #menu-item-225 a {
  padding-top: 1rem;
  margin-top: -1rem;
}


/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 1200px) {
    .icon-mglogo {
        padding-right: 15rem;
    }
}

@media screen and (max-width: 1000px) {
    .icon-mglogo {
        padding-right: 10rem;
    }
    .mgmenu {
        font-size: 1.125rem; /* 18px */
    }
    .icon-mglogo a{
        font-size: 1.5625rem; /* 25px */
    }
    .icon-mglogo {
        font-size: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .icon-mglogo {
        padding-right: 5rem;
    }
    .icon-mglogo a {
        font-size: 1.375rem; /* 22px */
    }
}

@media screen and (max-width: 600px) {
    .icon-mglogo {
        padding-right: 2.5rem;
    }
    .mgmenu {
        font-size: 1rem; /* 16px */
    }
    .icon-mglogo a  {
        font-size: 1.25rem; /* 20px */
    }
    .icon-mglogo {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 515px) {
    .mgmenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr min-content min-content min-content;
        justify-items: flex-end;
        align-items: center;
        padding: 0 1.5rem 0 .75rem;
        z-index: 1;
    }
    .menu-item {
        grid-column-start: 2;
        padding-bottom: .2rem;
    }
    .icon-mglogo {
        padding-right: 0;
        grid-column-start: 1;
        justify-self: flex-start;
        align-self: flex-start;
        font-size: 4rem;
    }
    .mgmenu > *:not(:first-child) {
      margin: .5rem 0;
    }
    .mgmenu li:last-of-type {
        grid-row-start: 1;
        font-size: 1.25rem;
        padding-top: 5rem;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 375px) {
    .mgmenu {
        grid-template-columns: 1.5fr 1fr;
        padding: 0 .75rem 0 .25rem;
    }
}

@media screen and (min-width: 1000px) {
  .mgmenu {
      height: 5.5rem;
  }
  #menu-item-18 a,  #menu-item-19 a,  #menu-item-20 a,  #menu-item-225 a {
    padding-top: 1.3rem;
    margin-top: -1rem;
  }
  .icon-mglogo a{
    margin-left: -1rem;
    align-self: center;
    padding-top: 1.6rem;
  }
}

/* ----- HOME PAGE ----- */
.post-left {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    align-self: flex-start;
}
.left-art {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto;
    align-self: flex-start;
}
.post-left img, .post-right img {
    object-fit: cover;
    transform: scale(2) translate(-5%, -5%);
}
.post-img {
    width: 20vh;
    height: 20vh;
    overflow: hidden;
}
.post-art-img {
    height: 20vh;
    overflow: hidden;
}

.post-left p {
    padding-left: 1rem;
    grid-column-start: 2;
}
.post-right {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
    align-self: flex-end;
}
.right-art {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    align-self: flex-end;
}
.post-right img {
    grid-column-start: 2;
    grid-column-end: 3;
}
.post-right p {
    padding-right: 1rem;
    grid-column-start: 1;
    grid-column-end: 2;
}
.recent-posts {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.recent-posts img{
    height: auto;
    grid-row-start: 2;
}
.recent-posts h2 {
    font-family: "Andale Mono"; 
    font-size: 1rem; /* 16px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: uppercase;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: .5rem;
}
.recent-posts a {
    padding: 1rem 0;
}
.recent-posts p {
    font-family: "Andale Mono"; 
    font-size: .75rem; /* 12px */ 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: lowercase;
    line-height: 1.5rem;
    grid-row-start: 2;
    visibility: hidden;
    max-height: 20vh;
}
.post-right h2 {
    justify-self: flex-end;
}
.recent-title {
    width: 100%;
    height: auto;
    display: flex;
    text-align: right;
}
.recent-title h1 {
    font-family: "Andale Mono"; 
    font-size: 1rem; /* 16px */ 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    color: var(--main);
    text-transform: lowercase;
    padding: 2rem 0 0;
    border-bottom: 5px solid var(--purple);
    width: 35%;
}
.recent-title i {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-top: .75rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 400px) {
    .recent-posts p {
        visibility: visible;
        max-height: none;
    }
    .recent-posts > * {
        max-width: 475px;
    }
    .recent-title h1 {
      font-size: 1.125rem; /* 18px */ 
      font-weight: 400;
      width: 31%;
    }
}
@media screen and (min-width: 516px) {
  .home-top {
    padding: .25rem;
  }
  .recent-title h1 {
    width: 25%;
  }
  .back-color, .navTrigger {
    display: none;
  }
  #menu-item-18, #menu-item-19, #menu-item-20, #menu-item-225 {
    visibility: visible;
  }
  .mgmenu {
    background-color: var(--back);
  }
}
@media screen and (min-width: 600px) {
    .post-img {
        width: 25vh;
    }
    .post-img, .post-art-img {
      height: 30vh;
  }
    .recent-posts {
        padding: 2rem;
    }
    .recent-posts h2 {
      font-size: 1.125rem; /* 18px */ 
    }
    .recent-posts h2 {
      font-size: 1.125rem; /* 18px */ 
    }
    .recent-title h1 {
      width: 21%;
    }
}

@media screen and (min-width: 750px) {
    .recent-posts > * {
        max-width: 700px;
    }
    .post-img {
        width: 30vh;
    }
    .recent-title h1 {
      width: 17%;
    }
    .post-left img, .post-right img {
      transform: scale(1.5);
  }
}
@media screen and (min-width: 1000px) {
    .recent-posts > * {
        max-width: 1000px;
    }
    .post-img, .post-art-img {
        height: 35vh;
    }
    .post-img {
        width: 35vh;
    }
    .recent-posts {
        padding: 3rem;
    }
    .left-art {
        width: 1000px;
    }
    .recent-posts p {
        max-width: 500px;
        font-size: .8125rem; /* 13px */
    }
    .recent-posts h2,  .recent-title h1 { 
      font-size: 1.25rem; /* 20px */
    }
    .recent-title h1 {
      width: 15%;
      border-bottom: 8px solid var(--purple);
    }
    
}

@media screen and (min-width: 1200px) {
    .post-img {
        width: 45vh;
    }
    .recent-posts > * {
        max-width: 1200px;
    }
    .recent-posts {
        padding: 4rem;
        max-width: 1800px;
        margin: 0 auto;
    }
    .left-art {
        width: 1200px;
    }
}

/* ----- ART PAGE ----- */
.art-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 1rem;
    margin: 0 auto;
    max-height: 100vh;
} 
.art-title {
    font-family: "Andale Mono"; 
    font-size: 1.25rem; /* 20px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: uppercase;
    margin: 1rem 0;
}
.art-image-wrapper {
    width: 100%;
    max-width: 100%;
}
.art-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 70vh;
    width: auto;
}
.art-description {
    font-family: "Andale Mono"; 
    font-size: .75rem; /* 12px */ 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: lowercase;
    padding: 1rem 2.5rem 1rem 0;
    line-height: 1.5rem;
}

/* media queries */
/* small screen styling */
@media screen and (min-width: 450px) {
    .art-wrapper {
        padding: .75rem 0 .75rem 1rem;
    } 
    .art-image img {
        padding: .45rem .45rem .3rem;
    }
    .art-description {
        padding: 1rem 4rem 1rem 0;
        line-height: 1.875rem; /* 30px */
    }
}

/* medium - large screen styling */
@media screen and (min-width: 475px) {
    .art-title {
        font-size: 1.5625rem; /* 25px*/
    }
    .art-description {
        font-size: .875rem; /* 14px*/
    }
}

@media screen and (min-width: 515px) {
    .art-wrapper {
        padding: 3rem 1rem 0 1rem;
    }
    .art-image {
        background-color: var(--purple);
    }
    .line {
        background-color: var(--purple);
        width: 100%;
        height: 2rem;
        margin-top: 2rem;
    }
    .art-image-wrapper {
        display: grid;
        grid-template-columns: max-content auto;
        grid-template-rows: auto;
        max-width: 100%;
    }
}

@media screen and (min-width: 575px) {
    .art-title {
        font-size: 1.875rem; /* 30px*/
    }
    .art-description {
        font-size: .9375rem; /* 15px*/
    }
    .line {
        height: 4rem;
        margin-top: 3rem;
    }
} 

@media screen and (min-width: 725px) {
    .art-wrapper {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto auto;
        padding: 1rem 0 0;
    }
    .art-title {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 2rem 0 1rem;
    }
    .art-image-wrapper {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .art-description {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0;
        font-size: .8125rem; /* 13px*/
        padding: 0 1rem;
        align-self: center;
    }
}

@media screen and (min-width: 950px) {
    .art-description {
        padding: 0 2rem;
    }
}
@media screen and (min-width: 1000px) {
    .art-title {
        font-size: 2.5rem; /* 40px*/
    }
    .art-description {
        font-size: 1rem; /* 16px*/
    }
}

@media screen and (min-width: 1300px) {
    .art-wrapper {
        grid-template-columns: 25% 75%;
        padding: 0;
        padding-left: 8vw;
        padding-top: 2vh;
    }
}

/* ----- PROJECT PAGE ----- */

.project-wrapper {
    padding: 1rem;
}
.project-title {
    font-family: "Andale Mono"; 
    font-size: 1.25rem; /* 20px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: 5px solid var(--purple);
}
.project-content h2{
    font-family: "Andale Mono"; 
    font-size: 1.125rem; /* 18px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.project-content h3{
    font-family: "Andale Mono"; 
    font-size: 1rem; /* 16px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.project-content h4{
    font-family: "Andale Mono"; 
    font-size: .875rem; /* 14px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.project-content p{
    font-family: "Andale Mono"; 
    font-size: .75rem; /* 12px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: lowercase;
    margin-bottom: 1rem;
}
.project-content table{
    font-family: "Andale Mono"; 
    font-size: .75rem; /* 12px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: lowercase;
    text-align: center;
    border: 1px solid var(--main);
    text-align: center;
}
.project-content tbody > tr:first-child, .project-content tbody > tr > td:first-child {
    text-transform: uppercase;
    font-size: .8125rem; /* 13px */
}
.project-content figcaption {
    font-family: "Andale Mono"; 
    font-size: .625rem; /* 10px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    color: var(--main);
    text-transform: lowercase;
    margin-bottom: 1rem;
    text-align: center;
}
.project-content ul {
    font-family: "Andale Mono"; 
    font-size: .75rem; /* 12px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: lowercase;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.project-content ol {
    font-family: "Andale Mono"; 
    font-size: .75rem; /* 12px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: lowercase;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.project-content button {
    font-family: "Andale Mono"; 
    font-size: .875rem; /* 14px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    color: var(--main);
    text-transform: uppercase;
    background-color: var(--back);
    border: 4px solid var(--purple);
    padding: .5rem 1rem;
    margin: 0 auto 1rem;
}
.project-content blockquote > p {
    font-family: "Andale Mono"; 
    font-size: 1rem; /* 16px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    color: var(--main);
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

.project-content a {
    font-family: "Andale Mono"; 
    font-size: .875rem; /* 14px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    color: var(--dark);
    text-transform: lowercase;
    padding-left: 2rem;
    margin-bottom: 1rem;
}



/* HOME ANIMATION */
.home-top {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
  #showcase {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
    height: 670px;
  }
  
  section {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 100%;
    background-size: cover;
  }
  section:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  section:nth-child(1) {
    -moz-animation: section-1 8s both infinite;
    -webkit-animation: section-1 8s both infinite;
    animation: section-1 8s both infinite;
  }
  
  @-moz-keyframes section-1 {
    0%, 20%, 100% {
      background: var(--img1) 0% 0%;
      -webkit-clip-path: polygon(23% 18%, 95% 13%, 100% 91%, 55% 87%);
    }
    25%, 45% {
      background: var(--img2) 0% 0%;
      -webkit-clip-path: polygon(95% 10%, 100% 80%, 62% 77%, 45% 12%);
    }
    50%, 70% {
      background: var(--img3) 0% 0%;
      -webkit-clip-path: polygon(100% 67%, 48% 63%, 28% 9%, 95% 3%);
    }
    75%, 95% {
      background: var(--img4) 0% 0%;
      -webkit-clip-path: polygon(78% 72%, 58% 34%, 95% 27%, 100% 73%);
    }
  }
  @-webkit-keyframes section-1 {
    0%, 20%, 100% {
      background: var(--img1) 0% 0%;
      -webkit-clip-path: polygon(23% 18%, 95% 13%, 100% 91%, 55% 87%);
    }
    25%, 45% {
      background: var(--img2) 0% 0%;
      -webkit-clip-path: polygon(95% 10%, 100% 80%, 62% 77%, 45% 12%);
    }
    50%, 70% {
      background: var(--img3) 0% 0%;
      -webkit-clip-path: polygon(100% 67%, 48% 63%, 28% 9%, 95% 3%);
    }
    75%, 95% {
      background: var(--img4) 0% 0%;
      -webkit-clip-path: polygon(78% 72%, 58% 34%, 95% 27%, 100% 73%);
    }
  }
  @keyframes section-1 {
    0%, 20%, 100% {
      background: var(--img1) 0% 0%;
      -webkit-clip-path: polygon(23% 18%, 95% 13%, 100% 91%, 55% 87%);
    }
    25%, 45% {
      background: var(--img2) 0% 0%;
      -webkit-clip-path: polygon(95% 10%, 100% 80%, 62% 77%, 45% 12%);
    }
    50%, 70% {
      background: var(--img3) 0% 0%;
      -webkit-clip-path: polygon(100% 67%, 48% 63%, 28% 9%, 95% 3%);
    }
    75%, 95% {
      background: var(--img4) 0% 0%;
      -webkit-clip-path: polygon(78% 72%, 58% 34%, 95% 27%, 100% 73%);
    }
  }
  section:nth-child(2) {
    -moz-animation: section-2 8s both infinite;
    -webkit-animation: section-2 8s both infinite;
    animation: section-2 8s both infinite;
  }
  
  @-moz-keyframes section-2 {
    0%, 20%, 100% {
      background: var(--img1) 33.33333% 0%;
      -webkit-clip-path: polygon(0% 7%, 100% 9%, 95% 93%, 5% 95%);
    }
    25%, 45% {
      background: var(--img2) 33.33333% 0%;
      -webkit-clip-path: polygon(100% 3%, 95% 95%, 5% 90%, 0% 5%);
    }
    50%, 70% {
      background: var(--img3) 33.33333% 0%;
      -webkit-clip-path: polygon(95% 83%, 5% 78%, 0% 6%, 100% 11%);
    }
    75%, 95% {
      background: var(--img4) 33.33333% 0%;
      -webkit-clip-path: polygon(5% 79%, 0% 21%, 100% 16%, 95% 83%);
    }
  }
  @-webkit-keyframes section-2 {
    0%, 20%, 100% {
      background: var(--img1) 33.33333% 0%;
      -webkit-clip-path: polygon(0% 7%, 100% 9%, 95% 93%, 5% 95%);
    }
    25%, 45% {
      background: var(--img2) 33.33333% 0%;
      -webkit-clip-path: polygon(100% 3%, 95% 95%, 5% 90%, 0% 5%);
    }
    50%, 70% {
      background: var(--img3) 33.33333% 0%;
      -webkit-clip-path: polygon(95% 83%, 5% 78%, 0% 6%, 100% 11%);
    }
    75%, 95% {
      background: var(--img4) 33.33333% 0%;
      -webkit-clip-path: polygon(5% 79%, 0% 21%, 100% 16%, 95% 83%);
    }
  }
  @keyframes section-2 {
    0%, 20%, 100% {
      background: var(--img1) 33.33333% 0%;
      -webkit-clip-path: polygon(0% 7%, 100% 9%, 95% 93%, 5% 95%);
    }
    25%, 45% {
      background: var(--img2) 33.33333% 0%;
      -webkit-clip-path: polygon(100% 3%, 95% 95%, 5% 90%, 0% 5%);
    }
    50%, 70% {
      background: var(--img3) 33.33333% 0%;
      -webkit-clip-path: polygon(95% 83%, 5% 78%, 0% 6%, 100% 11%);
    }
    75%, 95% {
      background: var(--img4) 33.33333% 0%;
      -webkit-clip-path: polygon(5% 79%, 0% 21%, 100% 16%, 95% 83%);
    }
  }
  section:nth-child(3) {
    -moz-animation: section-3 8s both infinite;
    -webkit-animation: section-3 8s both infinite;
    animation: section-3 8s both infinite;
  }
  
  @-moz-keyframes section-3 {
    0%, 20%, 100% {
      background: var(--img1) 66.66666% 0%;
      -webkit-clip-path: polygon(5% 11%, 100% 14%, 95% 88%, 0% 91%);
    }
    25%, 45% {
      background: var(--img2) 66.66666% 0%;
      -webkit-clip-path: polygon(100% 14%, 95% 84%, 0% 91%, 5% 7%);
    }
    50%, 70% {
      background: var(--img3) 66.66666% 0%;
      -webkit-clip-path: polygon(95% 79%, 0% 86%, 5% 7%, 100% 3%);
    }
    75%, 95% {
      background: var(--img4) 66.66666% 0%;
      -webkit-clip-path: polygon(0% 85%, 5% 14%, 100% 3%, 95% 95%);
    }
  }
  @-webkit-keyframes section-3 {
    0%, 20%, 100% {
      background: var(--img1) 66.66666% 0%;
      -webkit-clip-path: polygon(5% 11%, 100% 14%, 95% 88%, 0% 91%);
    }
    25%, 45% {
      background: var(--img2) 66.66666% 0%;
      -webkit-clip-path: polygon(100% 14%, 95% 84%, 0% 91%, 5% 7%);
    }
    50%, 70% {
      background: var(--img3) 66.66666% 0%;
      -webkit-clip-path: polygon(95% 79%, 0% 86%, 5% 7%, 100% 3%);
    }
    75%, 95% {
      background: var(--img4) 66.66666% 0%;
      -webkit-clip-path: polygon(0% 85%, 5% 14%, 100% 3%, 95% 95%);
    }
  }
  @keyframes section-3 {
    0%, 20%, 100% {
      background: var(--img1) 66.66666% 0%;
      -webkit-clip-path: polygon(5% 11%, 100% 14%, 95% 88%, 0% 91%);
    }
    25%, 45% {
      background: var(--img2) 66.66666% 0%;
      -webkit-clip-path: polygon(100% 14%, 95% 84%, 0% 91%, 5% 7%);
    }
    50%, 70% {
      background: var(--img3) 66.66666% 0%;
      -webkit-clip-path: polygon(95% 79%, 0% 86%, 5% 7%, 100% 3%);
    }
    75%, 95% {
      background: var(--img4) 66.66666% 0%;
      -webkit-clip-path: polygon(0% 85%, 5% 14%, 100% 3%, 95% 95%);
    }
  }
  section:nth-child(4) {
    -moz-animation: section-4 8s both infinite;
    -webkit-animation: section-4 8s both infinite;
    animation: section-4 8s both infinite;
  }
  
  @-moz-keyframes section-4 {
    0%, 20%, 100% {
      background: var(--img1) 99.99999% 0%;
      -webkit-clip-path: polygon(5% 18%, 89% 21%, 62% 73%, 0% 83%);
    }
    25%, 45% {
      background: var(--img2) 99.99999% 0%;
      -webkit-clip-path: polygon(57% 31%, 45% 67%, 0% 77%, 5% 18%);
    }
    50%, 70% {
      background: var(--img3) 99.99999% 0%;
      -webkit-clip-path: polygon(45% 57%, 0% 67%, 5% 8%, 72% 12%);
    }
    75%, 95% {
      background: var(--img4) 99.99999% 0%;
      -webkit-clip-path: polygon(0% 77%, 5% 18%, 47% 21%, 32% 67%);
    }
  }
  @-webkit-keyframes section-4 {
    0%, 20%, 100% {
      background: var(--img1) 99.99999% 0%;
      -webkit-clip-path: polygon(5% 18%, 89% 21%, 62% 73%, 0% 83%);
    }
    25%, 45% {
      background: var(--img2) 99.99999% 0%;
      -webkit-clip-path: polygon(57% 31%, 45% 67%, 0% 77%, 5% 18%);
    }
    50%, 70% {
      background: var(--img3) 99.99999% 0%;
      -webkit-clip-path: polygon(45% 57%, 0% 67%, 5% 8%, 72% 12%);
    }
    75%, 95% {
      background: var(--img4) 99.99999% 0%;
      -webkit-clip-path: polygon(0% 77%, 5% 18%, 47% 21%, 32% 67%);
    }
  }
  @keyframes section-4 {
    0%, 20%, 100% {
      background: var(--img1) 99.99999% 0%;
      -webkit-clip-path: polygon(5% 18%, 89% 21%, 62% 73%, 0% 83%);
    }
    25%, 45% {
      background: var(--img2) 99.99999% 0%;
      -webkit-clip-path: polygon(57% 31%, 45% 67%, 0% 77%, 5% 18%);
    }
    50%, 70% {
      background: var(--img3) 99.99999% 0%;
      -webkit-clip-path: polygon(45% 57%, 0% 67%, 5% 8%, 72% 12%);
    }
    75%, 95% {
      background: var(--img4) 99.99999% 0%;
      -webkit-clip-path: polygon(0% 77%, 5% 18%, 47% 21%, 32% 67%);
    }
  }
  @media (max-width: 1000px) {
    #showcase {
      width: 800px;
      height: 500px;
    }
  }
  @media (max-width: 800px) {
    #showcase {
      width: 600px;
      height: 300px;
    }
  }
  @media (max-width: 600px) {
    #showcase {
        width: 450px;
        height: 300px;
      }
    section {
      object-fit: contain;
    }
  }
  @media (max-width: 450px) {
    .home-top {
        height: 350px;
        width: 200px;
    }
    #showcase {
      width: 370px;
      height: 250px;
      transform: translate(0px, 50px) rotate(90deg);
    }
    section img {
        transform: rotate(-90deg);
    }
  }
  @media (max-width: 350px) {
    #showcase {
      transform: translate(-30px, 50px) rotate(90deg);
    }
  }

/* END HOME ANIMATION */  

/* HAMBURGER MENU */
.navTrigger {
  cursor: pointer;
  position: fixed;
  width: 30px;
  height: 25px;
  top: 0;
  right: 0;
  z-index: 5;
  margin: 1.75rem 1rem 0 0;
}
.navTrigger i {
  background-color: var(--main);
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}
.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}
.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

/* END HAMBRUGER */

/* ART LISTINGS PAGE */
.art-listings {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    2;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           0px; 
  max-width: 1800px; 
  margin: 0 auto;
  padding: 1rem 1.5rem 1rem 1rem;
}

.art-item img {
  width: 100% !important;
  height: auto !important;
  padding-left: .5rem;
  padding-bottom: .5rem;
}


@media screen and (min-width: 515px) {
  .art-listings {
    line-height: 0;
    -moz-column-count:    3;
    column-count:         3;
  }
}
@media screen and (min-width: 750px) {
  .art-listings {
    line-height: 0;
    -moz-column-count:    4;
    column-count:         4;
  }
}
@media screen and (min-width: 1100px) {
  .art-listings {
    line-height: 0;
    -moz-column-count:    5;
    column-count:         5;
  }
}

/* PROJECTS LISTINGS */

/* colors*/

.container {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 flex-wrap: wrap;
 background-color: var(--back);
 max-width: 1800px;
 margin: 0 auto;
}

.card {
   position: relative;
   width: 31.25rem;
   height: 12.5rem;
   background-color: rgb(245, 245, 245);
   overflow: hidden;
   margin: .5rem .75rem;
   cursor: pointer;
   box-shadow: 5px 5px 15px rgba(189, 189, 189, 0.397);
}

.card h2 {
   z-index: 99;
   font-family: "Poppins", sans-serif;
   position: absolute;
   bottom: 0;
   right: 8.125rem;
   font-size: 2rem;
   font-weight: 700;
   color: #fff;
}

.fa-arrow-right {
   z-index: 100;
   position: absolute;
   right: -3rem;
   top: 1rem;
   font-size: 20rem;
   cursor: pointer;
   color: #fff;
   transform: scale(0.05);
   transition: all 0.2s ease;
   visibility: hidden;
}
 
.card p {
   z-index: 99;
   position: absolute;
   top: 1.25rem;
   right: 4.375rem;
   color: #333;
   opacity: 0.7;
   font-size: .75rem;
   letter-spacing: .0625;
   writing-mode: vertical-lr;
   transition: all 0.2s ease;
}

.pic {
   z-index: 100;
   width: 25rem;
   height: 12.5rem;
   background-size: 100% 100%;
   filter: grayscale(0%);
}

.card button {
   position: absolute;
   right: .875rem;
   bottom: .875rem;
   width: 1.875rem;
   height: 1.875rem;
   border: none;
   border-radius: 1.875rem;
   cursor: pointer;
   outline:none;
   transition: all 0.3s ease;
   mix-blend-mode: hard-light;
   font-size: 3rem;
   background-color:#6f6eac;
}

.cardhover button {
   transform: scale(16.5);
}

.cardhover p {
   color: #fff;
}
   
.cardhover .pic {
   filter: grayscale(100%);
   
}
.cardhover .fa-arrow-right {
   visibility: visible;
   transform: scale(0.1);
   right: -2.25rem;
}

@media screen and (max-width: 1000px) {
  .mgmenu {
    padding-top: .4rem;
  }
}

@media screen and (max-width: 1050px) {
  .card {
    transform: scale(.9);
    margin: -1.5rem -1rem;
  }
}

@media screen and (max-width: 940px) {
  .card {
    transform: scale(.8);
    margin: -2rem -2rem;
  }
}

@media screen and (max-width: 875px) {
  .card {
    transform: scale(1);
    margin: .5rem 0;
  }
}

@media screen and (max-width: 515px) {
  .card {
    transform: scale(.75);
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .card p, .fa-arrow-right, .card button {
    display: none;
  }
  .card h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .card h2 {
    font-size: 1.25rem;
  }
  .card {
    width: 110vw;
  }
}
@media screen and (max-width: 350px) {
  .card h2 {
    font-size: .9rem;
  }
}

/* CONTACT TEMPLATE */

.contact-wrapper {
  display: grid;
  max-width: 2000px;
  margin: 0 auto;
}

.contact-wrapper img {
  padding: 1rem;
}

.contact-wrapper h1 {
  font-family: "Andale Mono"; 
  font-size: 1rem; /* 16px */ 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700;
  color: var(--main);
  text-transform: lowercase;
  text-align: right;
  border-bottom: 5px solid var(--purple);
  width: 40%;
}

.contact-wrapper h2 {
  font-family: "Andale Mono"; 
  font-size: 1rem; /* 16px */ 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700;
  color: var(--main);
  text-transform: lowercase;
  border-bottom: 5px solid var(--purple);
  width: 40%;
  justify-self: flex-end;
}

.contact-wrapper p {
  font-family: "Andale Mono"; 
  font-size: .75rem; /* 12px */ 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
  color: var(--main);
  text-transform: lowercase;
  padding: 1.5rem 1rem;
  line-height: 1.5rem;
}

.pb0 {
  padding: 1rem 1rem 0;
  width: 100%;
}

.fields label {
  font-family: "Andale Mono"; 
  font-size: .8rem;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
  text-transform: lowercase;
}

.dfield input, .dfield textarea {
  border-radius: 0;
  border: 1px solid var(--dark_purple);
  font-family: "Andale Mono"; 
  font-size: .75rem; /* 12px */ 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
  color: var(--main);
  text-transform: lowercase;
  line-height: 1.25rem;
}

div .pbSubmit {
  margin: 0 0 1.5rem 0;
  background-color: var(--purple);
  font-family: "Andale Mono"; 
  font-size: .8rem;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
  text-transform: lowercase;
  color: var(--main);
}

@media screen and (min-width: 400px) {
  .contact-wrapper h1, .contact-wrapper h2 {
    font-size: 1.125rem; /* 18px */
    width: 35%;
  }
  .pb0 {
    padding-top: .5rem;
  }
}

@media screen and (min-width: 500px) {
  .contact-wrapper h1, .contact-wrapper h2 {
    width: 25%;
  }
  .contact-wrapper p, .dfield input, .dfield textarea {
    font-size: .8125rem; /* 13px */
  }
  .fields label {
    font-size: .9375rem; /* 15px */
  }
  div .pbSubmit {
    font-size: .9375rem; /* 15px */
  }
}

@media screen and (min-width: 550px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
  .contact-wrapper h1 {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  .contact-wrapper img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
  }
  .contact-wrapper p {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
  }
  .contact-wrapper h2 {
    padding-top: 1rem;
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .contact-wrapper form {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  .contact-wrapper h1 {
    width: 50%;
    justify-self: flex-end;
    text-align: left;
  }
  .contact-wrapper h2 {
    width: 50%;
    justify-self: flex-start;
    text-align: right;
  }
}

@media screen and (min-width: 860px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto auto;
  }
  .contact-wrapper img {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .contact-wrapper p {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
  }
  .contact-wrapper h1 {
    width: 30%;
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .contact-wrapper h2 {
    width: 30%;
    padding-top: 0;
    grid-row-start: 3;
    grid-column-start: 2;
  }
  .contact-wrapper form {
    grid-row-start: 4;
    grid-column-start: 2;
  }
  .contact-wrapper h1 {
    justify-self: flex-start;
    text-align: right;
  }
  .contact-wrapper h2 {
    justify-self: flex-end;
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  .contact-wrapper img {
    padding: 2rem;
  }
  .contact-wrapper p {
    width: 80%;
    padding: 2rem 1rem 0;
  }
  .pb0 {
    padding: .5rem 2rem 0 1rem;
  }
  .contact-wrapper h1, .contact-wrapper h2 {
    font-size: 1.375rem;
    width: 40%;
  }
}

@media screen and (min-width: 1050px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr auto auto 1fr;
  }
  .contact-wrapper img {
    max-width: 550px;
    height: auto;
    justify-self: center;
  }
  .contact-wrapper p {
    justify-self: flex-start;
    width: 70%;
  }
}

@media screen and (min-width: 1100px) {
  .contact-wrapper h1 {
    padding-top: 1rem;
  }
  .contact-wrapper form {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 1500px) {
  .contact-wrapper img {
    justify-self: flex-end;
  }
  .contact-wrapper p {
    justify-self: flex-start;
  }
  .contact-wrapper h1, .contact-wrapper h2 {
    width: 60%;
  }
}

/* SEARCH PAGE LAYOUT */

.search-wrapper form {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  padding: 1rem;
  align-content: center;
}

.search-input {
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: .5rem;
}

.search-wrapper input {
  width: 90%;
  border-radius: 25px;
  border: 1px solid var(--main);
  padding: .5rem;
  font-family: "Andale Mono"; 
  font-size: .75rem; /* 12px */ 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
  color: var(--main);
  text-transform: lowercase;
}

.search-wrapper button {
  border: none;
  background-color: unset;
  z-index: 1;
  margin-left: -1.5rem;
  margin-top: .15rem;
}

.search-wrapper i {
  font-size: 1rem;
  font-weight: 700;
}

.menu-back {
  width: 100vw;
  height: 100px;
  background-color: var(--back);
  z-index: 1;
  position: fixed;
  top: 0;
}

.search-active {
    width: 70px;
    height: 5.5rem;
    background-color: var(--purple);
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
}

.search-active, .menu-back {
  display: none;
}

#search-posts {
  padding-top: 5rem;
}

.recent-posts {
  z-index: 1;
}

#drop-back {
  z-index: 2;
}

.mgmenu {
  z-index: 3;
}

@media screen and (min-width: 515px) {
  .search-wrapper input {
    font-size: .9375rem; /* 15px */
  }
}

/* 404 */
.error-message {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message p{
  font-family: "Andale Mono"; 
  font-size: .875rem; /* 14px */
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
  color: var(--main);
  text-transform: uppercase;
}

.top-purple {
  background-color: var(--purple);
  position: absolute;
  z-index: 1;
  top: 0;
  margin-left: 55%;
  width: 3rem;
  height: 0px;
  animation-name: top-purple;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes top-purple {
  from {height: 0px;}
  to {height: 45%;}
}

.left-purple {
  background-color: var(--purple);
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 5rem;
  height: 0px;
  animation-name: left-purple;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes left-purple {
  from {height: 0px;}
  to {height: 45%;}
}

.left-purple-two {
  background-color: var(--purple);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  margin-top: 55vh;
  width: 0px;
  height: 2rem;
  animation-name: left-purple-two;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes left-purple-two {
  from {width: 0px;}
  to {width: 50%;}
}

.right-purple {
  background-color: var(--purple);
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  margin-top: 65vh;
  width: 0px;
  height: 4rem;
  animation-name: right-purple;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes right-purple {
  from {width: 0px;}
  to {width: 35%;}
}

@media screen and (min-width: 515px) {
  .error-message p{
    font-size: 1rem; /* 16px */
  }
  .top-purple {
    z-index: 4;
    margin-left: 33%;
  }
  @keyframes right-purple {
    from {width: 0px;}
    to {width: 40%;}
  }
}

@media screen and (min-width: 600px) {
  .error-message p{
    font-size: 1.25rem; /* 20px */
  }
  .top-purple {
    width: 4.5rem;
  }
}

@media screen and (min-width: 750px) {
  .top-purple {
    margin-left: 28%;
  }

  @keyframes top-purple {
    from {height: 0px;}
    to {height: 40%;}
  }

  .right-purple {
    margin-top: 70vh;
    height: 5rem;
  }
  
  @keyframes right-purple {
    from {width: 0px;}
    to {width: 40%;}
  }
}

@media screen and (min-width: 975px) {
  .top-purple {
    margin-left: 38%;
  }

  @keyframes left-purple {
    from {height: 0px;}
    to {height: 40%;}
  }
  
  .left-purple-two {
    margin-top: 60vh;
  }
  
  @keyframes left-purple-two {
    from {width: 0px;}
    to {width: 35%;}
  }
}

