/* ------ INITIAL STYLING ------ */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--back);
}

/* Color Variables */

:root {
    --purple: #E9E7FB;
    --back: white;
    --main: #1C1C1C;
    --secondary: #333333;

    --dark_purple: #3F37A2;
    --dark_back: #101010;
    --dark_main: #E6E6E6;
    --dark_secondary: #BEBEBE;
}

/* ----- SVG ICONS ------ */
/* icons font */
@font-face {
    font-family: 'mglogos';
    src: url('svgicons/mglogos.eot');
    src: url('svgicons/mglogos.eot?#iefix') format('embedded-opentype'),
         url('svgicons/mglogos.woff') format('woff'),
         url('svgicons/mglogos.ttf') format('truetype'),
         url('svgicons/mglogos.svg#mglogos') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
   font-family: 'mglogos';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-arrow:before{content:'\0041';}
.icon-mglogo:before{content:'\0042';}
.icon-search:before{content:'\0043';}

/* Images */

img {
    width: 100%;
    height: auto;
}

/* ----- HEADINGS ----- */
/* nav */
.mgmenu {
    font-family: "Andale Mono"; 
    font-size: 1.25rem; /* 20px */ 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    color: var(--main);
    text-transform: lowercase;
}
/* mg logo text */
.icon-mglogo a {
    font-family: "Andale Mono"; 
    font-size: 1.875rem; /* 30px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    color: var(--main);
    text-transform: uppercase;
}
/* mg logo styling */
.icon-mglogo {
    font-size: 5rem;
    color: var(--purple);
    z-index: 0;
    text-transform: uppercase;
}
/* search styling */
.icon-search {
    text-transform: uppercase;
}
/* links */
a {
    text-decoration: none;
    color: var(--main);
}
/* list */
li {
    list-style: none;
}

/* ------ HEADER ----- */
.mgmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 1rem;
    max-width: 1500px;
    margin: 0 auto;
}
.icon-mglogo {
    padding-right: 20rem;
}
#menu-item-17 {
    display: flex;
}
.icon-mglogo a{
    margin-left: -1rem;
    align-self: center;
    margin-top: 1rem;
}

/* ACTIVE MENU STATE */
/* .current-menu-item {

} */

/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 1200px) {
    .icon-mglogo {
        padding-right: 15rem;
    }
}

@media screen and (max-width: 1000px) {
    .icon-mglogo {
        padding-right: 10rem;
    }
    .mgmenu {
        font-size: 1.125rem; /* 18px */
    }
    .icon-mglogo a{
        font-size: 1.5625rem; /* 25px */
    }
    .icon-mglogo {
        font-size: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .icon-mglogo {
        padding-right: 5rem;
    }
    .icon-mglogo a {
        font-size: 1.375rem; /* 22px */
    }
}

@media screen and (max-width: 600px) {
    .icon-mglogo {
        padding-right: 2.5rem;
    }
    .mgmenu {
        font-size: 1rem; /* 16px */
    }
    .icon-mglogo a  {
        font-size: 1.25rem; /* 20px */
    }
    .icon-mglogo {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 515px) {
    .mgmenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr;
        justify-items: flex-end;
        align-items: center;
        padding: 0 1.5rem 0 .75rem;
    }
    .menu-item {
        grid-column-start: 2;
        padding-bottom: .2rem;
    }
    .icon-search {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        font-size: 1.25rem;
        padding-top: 1.7rem;
        padding-bottom: 0;
    }
    .icon-mglogo {
        padding-right: 0;
        grid-column-start: 1;
        justify-self: flex-start;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: flex-start;
    }
    .mglogo {
        align-items: flex-start;
    }
    .icon-mglogo {
        font-size: 4rem;
    }
}

@media screen and (max-width: 375px) {
    .mgmenu {
        grid-template-columns: 1.5fr 1fr;
        padding: 0 .75rem 0 .25rem;
    }
}