/* ------ INITIAL STYLING ------ */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Color Variables */

:root {
    --purple: #E9E7FB;
    --back: white;
    --main: #1C1C1C;
    --secondary: #333333;

    --dark_purple: #3F37A2;
    --dark_back: #101010;
    --dark_main: #E6E6E6;
    --dark_secondary: #BEBEBE;
}

/* Images */

img {
    width: 100%;
    height: auto;
}
/* ----- SVG ICONS ------ */
/* icons font */
@font-face {
    font-family: 'mglogos';
    src: url('svgicons/mglogos.eot');
    src: url('svgicons/mglogos.eot?#iefix') format('embedded-opentype'),
         url('svgicons/mglogos.woff') format('woff'),
         url('svgicons/mglogos.ttf') format('truetype'),
         url('svgicons/mglogos.svg#mglogos') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'mglogos';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-arrow:before{content:'\0041';}
.icon-mglogo:before{content:'\0042';}
.icon-search:before{content:'\0043';}

/* mg logo styling */
.icon-mglogo {
    font-size: 5rem;
    color: var(--purple);
    z-index: 0;
}

/* ----- HEADINGS ----- */
/* mg logo */
h1 {
    font-family: "Andale Mono"; 
    font-size: 1.875rem; /* 30px */
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    color: var(--main);
    text-transform: uppercase;
}
/* nav */
h2 {
    font-family: "Andale Mono"; 
    font-size: 1.25rem; /* 20px */ 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;
    color: var(--main);
    text-transform: lowercase;
}

/* ------ HEADER ----- */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    padding: 0 0 0 1rem;
}
.mglogo {
    display: flex;
    align-items: center;
    justify-self: flex-start;
}
.mg-text {
    z-index: 1;
    margin: -.5rem 0 0 -1rem;
}
.pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: -5rem;
}

.pages > * {
    margin-left: 8rem;
    margin-top: -.5rem;
}


/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 1200px) {
    .pages > * {
        margin-left: 5rem;
    }
    .pages {
        margin-right: -2rem;
    }
}

@media screen and (max-width: 1000px) {
    .pages > * {
        margin-left: 3rem;
    }
    .pages {
        margin-right: 0;
    }
    h1 {
        font-size: 1.5625rem; /* 25px */
    }
    h2 {
        font-size: 1.125rem; /* 18px */
    }
    .icon-mglogo {
        font-size: 4rem;
    }
}

@media screen and (max-width: 750px) {
    .pages > * {
        margin-left: 2rem;
    }
    h1 {
        font-size: 1.375rem; /* 22px */
    }
}

@media screen and (max-width: 600px) {
    .pages > * {
        margin-left: 1.5rem;
    }
    h1 {
        font-size: 1.25rem; /* 20px */
    }
    h2 {
        font-size: 1rem; /* 16px */
    }
    .icon-mglogo {
        font-size: 3.5rem;
    }
    .mg-text, .pages > * {
        margin-top: 0;
    }
}

@media screen and (max-width: 515px) {
    .pages {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: flex-end;
        align-items: center;
        padding-top: 2rem;
    }
    .pages > * {
        margin: 0;
        padding-bottom: 1rem;
    }
    .icon-search {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    header {
        padding: 0 1rem;
    }
    .mglogo {
        align-items: flex-start;
    }
    .mg-text {
        margin-top: 1.5rem;
    }
    .icon-mglogo {
        font-size: 4rem;
    }
}

@media screen and (max-width: 350px) {
    header {
        grid-template-columns: 1.5fr 1fr;
    }
}